body {
	font-family: 'Raleway', sans-serif;
	line-height: 1.4;
	margin: 0 auto 50px auto;
}
@media (min-width: 449px) {
	body {
		margin: 0 30px 100px 30px;
	}
}

.page-typo {
	margin: 0 10px 0 10px;
	text-align: center;
}
@media (min-width: 450px) {
	.page-typo {
		margin: 0;
		text-align: left;
	}
}
.page-typo h1 {
	font-weight: 200;
	font-size: 60px;
	margin: 20px 0;
	color: #525252;
}
@media (min-width: 450px) {
	.page-typo h1 {
		font-size: 80px;
	}
}

.page-typo h2 {
	font-weight: 700;
	font-size: 26px;
	margin: 50px 0 20px 0;
	padding-top: 20px;
	color: #525252;
	border-top: 1px dashed #bbb;
}
.page-typo h3 {
	font-weight: 700;
	font-size: 20px;
	margin: 20px 0;
	color: #525252;
}
.page-typo p {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #525252;
}
.page-typo li {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #525252;
	margin-bottom: 3px;
}
.page-typo a {
	color: DodgerBlue;
}

.tableofcontents ul {
	list-style-type: none;
	margin: 0;
	margin-left: 20px;
	padding: 0;
}

.tableofcontents li {
	list-style-type: none;
}
.tableofcontents a {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: DodgerBlue;
}


code {
	position: relative;
	font-size: 15px;
	line-height: 1.4;
	display: block;
	background: #F1EEEB;
	padding: 5px 30px 10px 30px;
	margin: 20px 0;
	color: #525252;
	text-align: left;
	overflow-x: auto;
}
.code-inline {
	display: inline;
	padding: 2px 5px 2px 5px;
}
.code-html {
	padding-top: 24px;
	
}
.code-html:before {
	content: "HTML";
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	background: #bbb;
	padding: 0 10px 0 10px;
}

@media (min-width: 450px) {
	code {
		margin-left: 0;
		margin-right: 0;
	}
}
.code-focus {
	display: inline;
	color: DodgerBlue;
	font-weight: bold;
}

.alert {
	color: red;
}


.demo-typo p {
	font-size: 60px;
	line-height: 60px;
	text-align: center;
	color: white;
	margin-top: 30px;
	margin-bottom: 50px;
}