body {
	margin: 100px;
}
body * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

.yerslider-wrap {
	border: 10px solid #999;
}

.yerslider-slider {
}

.yerslider-slide {
	background-color: #eee;
}

.yerslider-slide-inner {
	margin: 0 20px;
}

.yerslider-slide-inner p:first-letter{
	font-size: 60px;
	line-height: 60px;
	float: left;
	padding-right: 20px;
	padding-bottom: 10px;
}

.yerslider-prevnext {
	position: absolute;
	z-index: 999;
	width: 0;
	height: 0;
	top: 50%;
	margin-top: -20px;
	cursor: pointer;
	border: 20px solid transparent;
	opacity: 0.2;
}

.yerslider-next {
	right: 0;
	border-left: 20px solid black;
}

.yerslider-prev {
	left: 0;
	border-right: 20px solid black;
}

.yerslider-wrap:hover .yerslider-prevnext {
	opacity: 0.8;
}