.yerslider-wrap {
	border: 10px solid #eee;
}

.yerslider-slider {
	list-style-type: none;
}

.yerslider-slide {
	padding: 10px;
}

.yerslider-prevnext {
	position: absolute;
	z-index: 999;
	width: 40px;
	height: 40px;
	top: 50%;
	margin-top: -10px;
	cursor: pointer;
	border: 20px solid transparent;
	opacity: 0.2;
}

.yerslider-next {
	right: 0;
	border-left: 20px solid black;
}

.yerslider-prev {
	left: 0;
	border-right: 20px solid black;
}

.yerslider-wrap:hover .yerslider-prevnext {
	opacity: 0.8;
}